<h1>Battlecode Arena</h1>
<p>Battlecode (6.370) is MIT's longest running hardcore programming competition, featuring a unique challenge that combines battle strategy,<br>
software engineering and artificial intelligence. The competition takes place every January. Both beginner and advanced coders are welcome.</p>
<br><br>
Battlecode_Arena is a companion site to help teams test against other teams.
<br>I also hope to keep this running throughout the year for any latecommers to have a go.
