<h1>Contact</h1>
    <br>
<p>
    
    During Battlecode season, your best bet is to check out: 
    <br> IRC channel #battlecode at irc.freenode.net

    <br><br>Failing that,  
    <%= link_to "Email BurningChrome", "mailto:3urning.chrome@googlemail.com" %> 
    <br>although I rarely check that email, so keep shouting till an answer :)
    
    <br><br>
    Finally there is always: <%= link_to "3urningChrome on github", "https://github.com/3urningChrome", :target => "_blank" %>  
    
</p>