<div class="center jumbotron">
  <h1>Welcome to Battlecode Arena</h1>
</div>


<br>Unofficial Scrimmage server for <%= link_to "MIT's Battlecode",'https://www.battlecode.org/', :target => '_blank' %> 